#profiles{
  .editing{
    color: $brand-danger;
  }

  label{
    white-space: nowrap;
    small{
      font-size: 8px;
      font-weight: 400;
      font-style: italic;
    }
  }

  input, select{
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  input[type=number]{
    width: 60px;
  }

  select[name=suffix]{
    width: 60px;
  }

  .photo{
    font-size: 8px;
  }
}
