$brand-danger: #910000;

@import 'bootstrap';
@import 'profiles';

//--- Globals ----------------------------------------------------
.sort_handle{
  cursor: -webkit-grab;
  cursor: grab;
}

//--- Parts ------------------------------------------------------
#top_nav{
  margin-bottom:0px;
  border-radius: 0px;
  background-color: black;

  .navbar-nav{
    a{
      font-size: 20px;
      text-transform: uppercase;
      color: white;
      font-weight: 800;
    }

    a:hover{
      color: #999999;
    }
  }
}

#flash{
  font-size: 14pt;
  text-align: center;
  margin-bottom: 10px;

  .notice, .alert{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .notice{
    color: white;
    background-color: rgba(black, 1);
  }

  .alert{
    background-color: rgba(red, 1);
    color: white;
  }
}

.pagination_wrapper{
  text-align: center;
  a{
    color: #333;
    font-weight: 800;
  }
}
