#top_nav{
  margin-bottom:0px;
  border-radius: 0px;
  background-color: black;

  .navbar-nav{
    a{
      font-size: 20px;
      text-transform: uppercase;
      color: white;
      font-weight: 800;
    }

    a:hover{
      color: #999999;
    }
  }
}
